@model IEnumerable<Skateboard_World.Models.CHI_TIET_GIO_HANG>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="untree_co-section before-footer-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Hình ảnh</th>
                                <th class="product-name">Tên sản phẩm</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số lượng</th>
                                <th class="product-total">Tổng</th>
                                <th class="product-remove">xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                Console.WriteLine(item.SAN_PHAM.DS_HINH_ANH.Count());
                                <tr>
                                    <td class="product-thumbnail">
                                       
                                        @foreach (var image in item.SAN_PHAM.DS_HINH_ANH )
                                        {
                                            <img src="@image.MediaHinhAnh" width="200px" height="300px" alt="Image" />
                                            break;
                                        }
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">@item.SAN_PHAM.TenSP</h2>
                                    </td>
                                    <td>@item.SAN_PHAM.GiaBan.ToString("N0") đ</td>
                                    <td>
                                        <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-black decrease" type="button" data-item-id="@item.MaSP" data-quantity="@item.SoLuong">-</button>
                                            </div>
                                            <input type="text" class="form-control text-center quantity-amount" value="@item.SoLuong" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-black increase" type="button" data-item-id="@item.MaSP" data-quantity="@item.SoLuong">+</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@{
                                            double tong = item.SoLuong * item.SAN_PHAM.GiaBan;
                                        } @tong.ToString("N0") đ</td>
                                    <td><a href="#" onclick="deleteProduct('@item.MaSP')" class="btn btn-black btn-sm">X</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <a class="btn btn-outline-black btn-sm btn-block" asp-controller="CTSanPham" asp-action="Index">Tiếp tục mua sắm</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Tổng giỏ hàng</h3>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Số lượng</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">
                                    @{
                                        int tongsp = 0;
                                        double tonggia = 0;

                                        for (int i = 0; i < Model.Count(); i++)
                                        {
                                            var item = Model.ElementAt(i);
                                            tongsp = tongsp + item.SoLuong;
                                            tonggia += item.SAN_PHAM.GiaBan * item.SoLuong;

                                        }

                                    }
                                    @tongsp.ToString()
                                </strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Tổng giá</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">@tonggia.ToString("N0") đ</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-outline-black btn-sm btn-block" asp-controller="GioHangH" asp-action="CheckThanhToan">Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function updateQuantity(itemId, newQuantity) {
        $.ajax({
            url: '/GioHangH/UpdateQuantity',
            type: 'POST',
            data: { itemId: itemId, newQuantity: newQuantity },
            success: function (response) {
                console.log('Số lượng đã được cập nhật thành công.');
                // Reload lại trang sau khi cập nhật thành công
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error('Lỗi khi cập nhật số lượng: ' + error);
            }
        });
    }
    function deleteProduct(itemId) {
        $.ajax({
            url: '/GioHangH/DeleteProduct',
            type: 'POST',
            data: { itemId: itemId },
            success: function (response) {
                console.log('Sản phẩm đã được xóa khỏi giỏ hàng.');
                // Reload lại trang sau khi xóa sản phẩm thành công
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error('Lỗi khi xóa sản phẩm khỏi giỏ hàng: ' + error);
            }
        });
    }

</script>