

@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="container-fluid">
    <div class="row">
        @{
            var dot = ViewData["DOT"] as DOT;
        }
        <div class="col-xl-6 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Tổng Đơn Tháng</h4>
                    <p class="card-category">
                        <h4 style="color: limegreen">
                           @dot.TotalOrders
                        </h4>
                    </p>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Doanh Thu Tháng </h4>
                    <p class="card-category">
                        <h4 style="color: red">
                            @dot.TotalRevenue.ToString("N0") đ
                        </h4>
                    </p>
                </div>
                <div class="card-footer">
                   
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Sản phẩm bán chạy</h4>
                    <p class="card-category">Top sản phẩm bán chạy</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Hình ảnh
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Số lượt bán
                            </th>

                            <th>
                                Giá
                            </th>
                            </thead>
                            <tbody>
                                @{
                                    var sanPham = Model;
                                    var spNoiBat = ViewData["SanPhamNoiBat"] as List<HINH_ANH_SAN_PHAM>;
                                }

                                <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.1s">
                                    @foreach (var item in spNoiBat)
                                    {
                                        <tr>
                                            <td>
                                                @item.SanPham.MaSP
                                            </td>
                                            <td>
                                                    @foreach (var image in item.HinhAnhList)
                                                    {
                                                        <img  width="100px" height="100px" src="@image.MediaHinhAnh" alt="">

                                                        break;
                                                    }
                                            </td>
                                            <td>
                                                @item.SanPham.TenSP
                                            </td>
                                            <td>
                                                @item.TotalQuantitySold
                                            </td>

                                            <td class="text-primary">
                                                @item.SanPham.GiaBan.ToString("N0")
                                            </td>
                                        </tr>

                                    }
                               </div>

                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
