
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/site.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!--Tbaó-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/js/toastr.js/toastr.min.css" />
    <script src="/js/toastr.js/toastr.min.js"></script>
    
</head>
<body>
    <partial name="_Notification" />
    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <a asp-action="Index" asp-controller="USER_SAN_PHAM" class="navbar-brand">
                    <h2 class="text-black" style="color: white">Skateboard World</h2>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">

                         @{
                            var currentController = ViewContext.RouteData.Values["controller"].ToString();
                            var currentAction = ViewContext.RouteData.Values["action"].ToString();
                        }
                       


                        <a asp-action="Index" asp-controller="USER_SAN_PHAM" class="nav-item nav-link @((currentAction == "Index" && currentController=="USER_SAN_PHAM") ? "active" : "")">Trang Chủ</a>
                        <a asp-action="Product" asp-controller="USER_SAN_PHAM" class="nav-item nav-link @(currentAction == "Product" ? "active" : "")">Sản Phẩm</a>
                 
                 
                        <div class="nav-item dropdown">
                            <a class="nav-link " data-bs-toggle="dropdown @(currentController == "NGUOI_DUNG" ? "active" : "")">Tài Khoản</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a asp-controller="NGUOI_DUNG" asp-action="User_Information" class="dropdown-item">Thông tin tài khoản</a>
                                <a asp-controller="HOA_DON" asp-action="Admin_Index" class="dropdown-item">Đơn hàng</a>
                                <a asp-controller="DangNhap" asp-action="Index" class="dropdown-item">Đăng Nhập</a>
                                <a asp-controller="DangNhap" asp-action="DangKi" class="dropdown-item">Đăng Ký</a>
                            </div>
                        </div>
                        <a asp-controller="CHI_TIET_GIO_HANG" asp-action="Index" class="nav-item nav-link @(currentController == "CHI_TIET_GIO_HANG" ? "active" : "")">Giỏ Hàng</a>

                    </div>

                   </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->




    <!-- Hero Start ( có thể bỏ) -->
    <div class="container-fluid bg-primary hero-header mb-5">

        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    
                    <h1 class="display-4 text-white animated slideInRight"> Nếu bạn là một người yêu thích bộ môn ván trượt, hãy đến với chúng tôi  <span class="fw-light text-dark"></span></h1>
                    <h3 class="fw-light text-white animated slideInRight">THẾ GIỚI VÁN TRƯỢT</h3>
                    <p class="text-white mb-4 animated slideInRight">
                     
                    </p>
                    @* <a href="" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Shop Now</a>
                    <a href="" class="btn btn-outline-dark py-2 px-4 animated slideInRight">Contact Us</a> *@
                </div>
               
            </div>
        </div>
    </div>
    <!-- Hero End -->



    <!-- Product Start -->
    <div class="container-fluid py-5">
        <div class="container">
            @RenderBody()
          
        </div>
    </div>
    <!-- Product End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-white footer" style="background-color: #5c3e83">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                        <h1 class="text-primary">Skateboard World</h1>
                    </a>
                    <p class="mb-0">
                       
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="mb-4">Liên hệ</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>2270 Nguyễn Văn Cừ</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+84 334 346 923</p>
                    <p><i class="fa fa-envelope me-3"></i>skateboadworld.com</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="mb-4">Sản phẩm </h5>
                    <a class="btn " href="">Ván trượt</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="mb-4">Các thông tin khác</h5>
                    
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->



    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/site.js"></script>
    
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}