@model IEnumerable<Skateboard_World.Models.HINH_ANH_SAN_PHAM>

@{
    ViewData["Title"] = "Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
    <h1 class="text-primary mb-3" style="color: red"><span class="fw-light text-dark">Ván trượt</span> Mới</h1>
    <p class="mb-5"> </p>
</div>
<div class="row g-4">
    @{
        var sp = Model.OrderBy(x => x.SanPham.NgayTao).ToList();
        var listSP = new List<HINH_ANH_SAN_PHAM>();
        if(sp.Count >= 4)
        {
            for (int i = (sp.Count() -1); i >= (sp.Count() - 4); i--)
            {
                listSP.Add(sp[i]);
            }

        }
        else
        {
            listSP = sp;
        }
        

    }
    @foreach (var item in listSP)
    {
        <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
            <div class="product-item text-center border h-100 p-4">
                @foreach (var image in item.HinhAnhList)
                {
                    <img src="@image.MediaHinhAnh" width="200px" height="300px" alt="Image" />
                    break;
                }
                <div class="mb-2">
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    <small class="fa fa-star text-primary"></small>
                    
                </div>
                <a asp-action="Details" asp-route-id="@item.SanPham.MaSP" asp-controller="USER_SAN_PHAM" class="h6 d-inline-block mb-2">@item.SanPham.TenSP</a>
                <h5 class="text-primary mb-3">@item.SanPham.GiaBan.ToString("N0") đ</h5>



                <a class="btn btn-outline-primary px-3" onclick="addToCart(@item.SanPham.MaSP, 1) ">Thêm Vào Giò</a>
                <form id="addToCartForm" method="post" asp-controller="CHI_TIET_GIO_HANG" asp-action="ThemVaoGioHang" style="display: none;">
                    <input type="hidden" name="id" id="productId" />
                    <input type="hidden" name="quantity" id="quantity" value="1" min="1" />
                </form>

            </div>
        </div>
    }
</div>

<script>
    function addToCart(productId, quantity) {
        // Set the values of the hidden inputs in the form
        document.getElementById('productId').value = productId;
        document.getElementById('quantity').value = quantity;

        // Submit the form
        document.getElementById('addToCartForm').submit();
    }
</script>

@{

}
<!-- Testimonial Start -->
<div class="container-fluid testimonial bg-primary my-5 py-5">
    <div class="container text-white py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="text-white mb-3">SẢN PHẨM BÁN CHẠY NHẤT<span class="fw-light text-dark"></span></h1>
            <p class="mb-5"></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                @{
                    var spNoiBat = ViewData["SanPhamNoiBat"] as List<HINH_ANH_SAN_PHAM>;
                }

                <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.1s">
                    @foreach(var item in spNoiBat)
                    {
                        <div class="testimonial-item text-center" data-dot="">
                            @foreach (var image in item.HinhAnhList)
                            {
                                <img class="img-fluid border p-2" style="width:auto" src="@image.MediaHinhAnh" alt="">
                                
                                break;
                            }
                            <a asp-action="Details" asp-route-id="@item.SanPham.MaSP" asp-controller="USER_SAN_PHAM" class="h6 w-inline-block mb-2" style="color: white">@item.SanPham.TenSP</a>
                            <h5 class="fw-light lh-base text-white">@item.SanPham.GiaBan.ToString("N0") đ </h5>
                            <a class="btn btn-outline-success px-3" onclick="addToCart(@item.SanPham.MaSP, 1) ">Thêm Vào Giò</a>
                            <form id="addToCartForm" method="post" asp-controller="CHI_TIET_GIO_HANG" asp-action="ThemVaoGioHang" style="display: none;">
                                <input type="hidden" name="id" id="productId" />
                                <input type="hidden" name="quantity" id="quantity" value="1" min="1" />
                            </form>
                        </div>

                      
                       
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
